{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java Keywords</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java Keywords</h1>
        <div>
            <a href="Java Keywords" class="btn btn-danger"> < Previous</a>

            <a href="java_ref_string" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
            <h2 class = "subtitle" >Java Reserved Keywords</h2>
            <p id="normal">Java has a set of keywords that are reserved words that <b>cannot be used as variables, methods, classes, or any other identifiers</b>:</p>
            <table class="all_table_element">
                <tbody>
                    <tr>
                        <th style="width:20%">Keyword</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_abstract" target="_blank">abstract</a></code></td>
                        <td>A non-access modifier. Used for classes and methods: An abstract class cannot be used to create objects (to access it, it must be inherited from another class). An abstract method can only be used in an abstract class, and it does not have a body. The body is provided by the subclass (inherited from)</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">assert</code></td>
                        <td>For debugging</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_boolean" target="_blank">boolean</a></code></td>
                        <td>A data type that can only store true and false values</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_break" target="_blank">break</a></code></td>
                        <td>Breaks out of a loop or a switch block</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_byte" target="_blank">byte</a></code></td>
                        <td>A data type that can store whole numbers from -128 and 127</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_case" target="_blank">case</a></code></td>
                        <td>Marks a block of code in switch statements</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_catch" target="_blank">catch</a></code></td>
                        <td>Catches exceptions generated by try statements</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_char" target="_blank">char</a></code></td>
                        <td>A data type that is used to store a single character</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_class" target="_blank">class</a></code></td>
                        <td>Defines a class</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_break" target="_blank">continue</a></code></td>
                        <td>Continues to the next iteration of a loop</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">const</code></td>
                        <td>Defines a constant. <code class="not_used">Not in use</code> - use <code class="code_span_keyword"><a href="ref_keyword_final" target="_blank">final</a></code> instead</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_default" target="_blank">default</a></code></td>
                        <td>Specifies the default block of code in a switch statement</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_do" target="_blank">do</a></code></td>
                        <td>Used together with while to create a do-while loop</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_double" target="_blank">double</a></code></td>
                        <td>A data type that can store whole numbers from 1.7e−308 to 1.7e+308</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_else" target="_blank">else</a></code></td>
                        <td>Used in conditional statements</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_enum" target="_blank">enum</a></code></td>
                        <td>Declares an enumerated (unchangeable) type</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">exports</code></td>
                        <td>Exports a package with a module. New in Java 9</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_extends" target="_blank">extends</a></code></td>
                        <td>Extends a class (indicates that a class is inherited from another class)</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_final" target="_blank">final</a></code></td>
                        <td>A non-access modifier used for classes, attributes and methods, which makes them non-changeable (impossible to inherit or override)</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_finally" target="_blank">finally</a></code></td>
                        <td>Used with exceptions, a block of code that will be executed no matter if there is an exception or not</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_float" target="_blank">float</a></code></td>
                        <td>A data type that can store whole numbers from 3.4e−038 to 3.4e+038</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_for" target="_blank">for</a></code></td>
                        <td>Create a for loop</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">goto</code></td>
                        <td>Not in use, and has no function</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_if" target="_blank">if</a></code></td>
                        <td>Makes a conditional statement</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_implements" target="_blank">implements</a></code></td>
                        <td>Implements an interface</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_import" target="_blank">import</a></code></td>
                        <td>Used to import a package, class or interface</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_instanceof" target="_blank">instanceof</a></code></td>
                        <td>Checks whether an object is an instance of a specific class or an interface</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_int" target="_blank">int</a></code></td>
                        <td>A data type that can store whole numbers from -2147483648 to 2147483647</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_interface" target="_blank">interface</a></code></td>
                        <td>Used to declare a special type of class that only contains abstract methods</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_long" target="_blank">long</a></code></td>
                        <td>A data type that can store whole numbers from -9223372036854775808 to 9223372036854775808</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">module</code></td>
                        <td>Declares a module. New in Java 9</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">native</code></td>
                        <td>Specifies that a method is not implemented in the same Java source file (but in another language)</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_new" target="_blank">new</a></code></td>
                        <td>Creates new objects</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_package" target="_blank">package</a></code></td>
                        <td>Declares a package</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_private" target="_blank">private</a></code></td>
                        <td>An access modifier used for attributes, methods and constructors, making them only accessible within the declared class</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_protected" target="_blank">protected</a></code></td>
                        <td>An access modifier used for attributes, methods and constructors, making them accessible in the same package and subclasses</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_public" target="_blank">public</a></code></td>
                        <td>An access modifier used for classes, attributes, methods and constructors, making them accessible by any other class</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">requires</code></td>
                        <td>Specifies required libraries inside a module. New in Java 9</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_return" target="_blank">return</a></code></td>
                        <td>Finished the execution of a method, and can be used to return a value from a method</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_short" target="_blank">short</a></code></td>
                        <td>A data type that can store whole numbers from -32768 to 32767</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_static" target="_blank">static</a></code></td>
                        <td>A non-access modifier used for methods and attributes. Static methods/attributes can be accessed without creating an object of a class</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">strictfp</code></td>
                        <td>Restrict the precision and rounding of floating point calculations</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_super" target="_blank">super</a></code></td>
                        <td>Refers to superclass (parent) objects</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_switch" target="_blank">switch</a></code></td>
                        <td>Selects one of many code blocks to be executed</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">synchronized</code></td>
                        <td>A non-access modifier, which specifies that methods can only be accessed by one thread at a time</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_this" target="_blank">this</a></code></td>
                        <td>Refers to the current object in a method or constructor</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_throw" target="_blank">throw</a></code></td>
                        <td>Creates a custom error</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_throws" target="_blank">throws</a></code></td>
                        <td>Indicates what exceptions may be thrown by a method</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">transient</code></td>
                        <td>A non-accesss modifier, which specifies that an attribute is not part of an object's persistent state</code></td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_try" target="_blank">try</a></code></td>
                        <td>Creates a try...catch statement</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">var</code></td>
                        <td>Creates a try...catch statement</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_void" target="_blank">void</a></code></td>
                        <td>Specifies that a method should not have a return value</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword">volatile</code></td>
                        <td>	Indicates that an attribute is not cached thread-locally, and is always read from the "main memory"</td>
                    </tr>
                    <tr>
                        <td><code class="code_span_keyword"><a href="ref_keyword_while" target="_blank">while</a></code></td>
                        <td>Creates a while loop</td>
                    </tr>
                </tbody>
            </table>
            <div class="note-container">
                <p id = "normal"><strong>Note:</strong> <code class="code_span_keyword">true</code>, <code class="code_span_keyword">false</code>, and <code class="code_span_keyword">null</code> are not keywords, but they are literals and reserved words that cannot be used as identifiers.</p>
            </div>
        </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h2>Java Exercises</h2>
        <p id="normal">Test Yourself With Exercises</p>
        <a class="btn btn-danger" href="exercises">Go to Exercises</a>
        <hr class="bg-danger" />
        <div>
            <a href="Java Keywords" class="btn btn-danger"> < Previous</a>

            <a href="java_ref_string" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
