{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java Break and Continue</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java Break and Continue</h1>
        <div>
          <a href="java_for_loop" class="btn btn-danger"> < Previous</a>

          <a href="java_arrays" class="btn btn-danger next" style="float: right;">
            Next ></a
          >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
            <h2 class = "subtitle" >Java Break</h2>
            <p id="normal">You have already seen the <code class="code_span_keyword" >break </code> statement used in an earlier chapter of this tutorial. It was used to "jump out" of a <code class="code_span_keyword" >switch</code> statement.</p>
            <p id="question" class ="mb-0 text-danger" >what is break used for?</p>
            <p id="answer">The <code class="code_span_keyword" >break</code> statement can also be used to jump out of a <b>loop</b>.</p>
            <p id="normal">This example jumps out of the loop when i is equal to 4:</p>
            <!-- example -->
            
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class="keyword">public class</span> <span class="class-name">MyClass</span> <span class="punctuation">{</span>
<span class="keyword">public static void</span> <span class="function">main</span> <span class="punctuation">(</span><span class="class-name">String</span> <span class="punctuation">[]</span> args<span class="punctuation">)</span><span class="punctuation">{</span>
    <span class=" keyword keyword-for">for</span> <span class=" punctuation">(</span><span class=" keyword keyword-int">int</span> i <span class=" operator">=</span> <span class=" number">0</span><span class=" punctuation">;</span> i <span class=" operator">&lt;</span> <span class=" number">10</span><span class=" punctuation">;</span> i<span class=" operator">++</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" keyword keyword-if">if</span> <span class=" punctuation">(</span>i <span class=" operator">==</span> <span class=" number">4</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
          <span class=" keyword keyword-break">break</span><span class=" punctuation">;</span>
        <span class=" punctuation">}</span>
        <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span>i<span class=" punctuation">)</span><span class=" punctuation">;</span>
    <span class=" punctuation">}</span>
<span class="punctuation">}</span>
<span class="punctuation">}</span>
            </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
0
1
2
3
                </pre>
            </div>
            
        </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_2 -->
    <section class="bg-sliver">
      <div class="container-flued p-5">
          <h2 class = "subtitle" >Java Continue</h2>
          <p id="question" class ="mb-0 text-danger" >what is continue used for?</p>
          <p id="answer">Loops can execute a block of code as long as a specified condition is reached.</p>
          <p id="normal">This example skips the value of 4:</p>
          <!-- example -->
        
          <div class="example-code-container">
              <h3 class="example-title">Example</h3>
              <pre class="pre-example-code">
<span class="keyword">public class</span> <span class="class-name">MyClass</span> <span class="punctuation">{</span>
<span class="keyword">public static void</span> <span class="function">main</span> <span class="punctuation">(</span><span class="class-name">String</span> <span class="punctuation">[]</span> args<span class="punctuation">)</span><span class="punctuation">{</span>
  <span class=" keyword keyword-for">for</span> <span class=" punctuation">(</span><span class=" keyword keyword-int">int</span> i <span class=" operator">=</span> <span class=" number">0</span><span class=" punctuation">;</span> i <span class=" operator">&lt;</span> <span class=" number">10</span><span class=" punctuation">;</span> i<span class=" operator">++</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
      <span class=" keyword keyword-if">if</span> <span class=" punctuation">(</span>i <span class=" operator">==</span> <span class=" number">4</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" keyword keyword-continue">continue</span><span class=" punctuation">;</span>
      <span class=" punctuation">}</span>
      <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span>i<span class=" punctuation">)</span><span class=" punctuation">;</span>
    <span class=" punctuation">}</span>
<span class="punctuation">}</span>
<span class="punctuation">}</span>
          </pre>
          </div>
          <div class="result-code-container">
              <h3 class="result-title">Result</h3>
              <pre class="pre-result-code">
0
1
2
3
5
6
7
8
9
              </pre>
          </div>
        </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_3 -->
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h2>The Do/While Loop</h2>
        <p id="question" class="mb-0 text-danger">Break and Continue in While Loop</p>
        <p id="answer">You can also use <code class="code_span_keyword" >break</code> and <code class="code_span_keyword" >continue</code> in while loops:</p>
      <!-- example -->
      <div class="example-code-container">
          <h3 class="example-title">Example</h3>
          <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token keyword">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span>
        <span class="token keyword">while</span> <span class="token punctuation">(</span>i <span class="token operator">&lt;</span> <span class="token number">10</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
        i<span class="token operator">++</span><span class="token punctuation">;</span>
        <span class="token keyword">if</span> <span class="token punctuation">(</span>i <span class="token operator">==</span> <span class="token number">4</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
            <span class="token keyword">break</span><span class="token punctuation">;</span>
        <span class="token punctuation">}</span>
        <span class="token punctuation">}</span>  
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
          </pre>
      </div>
      <div class="result-code-container">
        <h3 class="result-title">Result</h3>
        <pre class="pre-result-code">
0
1
2
3
        </pre>
    </div>
    <!-- example -->
    <div class="example-code-container">
        <h3 class="example-title">Example</h3>
        <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token keyword">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span>
        <span class="token keyword">while</span> <span class="token punctuation">(</span>i <span class="token operator">&lt;</span> <span class="token number">10</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token keyword">if</span> <span class="token punctuation">(</span>i <span class="token operator">==</span> <span class="token number">4</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
            i<span class="token operator">++</span><span class="token punctuation">;</span>
            <span class="token keyword">continue</span><span class="token punctuation">;</span>
        <span class="token punctuation">}</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
        i<span class="token operator">++</span><span class="token punctuation">;</span>
        <span class="token punctuation">}</span>  
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
              
        </pre>
    </div>
    <div class="result-code-container">
      <h3 class="result-title">Result</h3>
      <pre class="pre-result-code">
0
1
2
3
5
6
7
8
9
      </pre>
  </div>
    </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h2>Java Exercises</h2>
        <p id="normal">Test Yourself With Exercises</p>
        <a class="btn btn-danger" href="exercises">Go to Exercises</a>
        <hr class="bg-danger" />
        <div>
            <a href="java_for_loop" class="btn btn-danger"> < Previous</a>

            <a href="java_arrays" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
