{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java Create and Write To Files</title>
    {% endblock %}
</head>
<body>
    {% block content%}
    <section class="bg-sliver">
    <div class="container-flued p-5">
        <h1 class="main-title">Java Create and Write To Files</h1>
        <div>
            <a href="java_files" class="btn btn-danger"> < Previous</a>

            <a href="java_files_read" class="btn btn-danger next" style="float: right;">
            Next ></a
            >
        </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
            <h2 class = "subtitle" >Create a File</h2>
            <p id="normal">how to create a file in java?</p>
            <p id="normal">To create a file in Java, you can use the <code class="code_span_method" >createNewFile<span class="punctuation" >()</span></code> method. This method returns a boolean value: <code class="code_span_type" >true</code> if the file was successfully created, and <code class="code_span_type" >false</code> if the file already exists. Note that the method is enclosed in a <code class="code_span_keyword" >try</code>...<code class="code_span_keyword" >catch</code> block. This is necessary because it throws an <code class="code_span_class_name" >IOException</code> if an error occurs (if the file cannot be created for some reason):</p>
            <!-- example -->
            
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" keyword keyword-import">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">File</span><span class=" punctuation">;</span>  <span class=" comment">// Import the File class</span>
<span class=" keyword keyword-import">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">IOException</span><span class=" punctuation">;</span>  <span class=" comment">// Import the IOException class to handle errors</span>

<span class=" keyword keyword-public">public</span> <span class=" keyword keyword-class">class</span> <span class=" class-name">CreateFile</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-static">static</span> <span class=" keyword keyword-void">void</span> <span class=" function">main</span><span class=" punctuation">(</span><span class=" class-name">String</span><span class=" punctuation">[</span><span class=" punctuation">]</span> args<span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" keyword keyword-try">try</span> <span class=" punctuation">{</span>
            <span class=" class-name">File</span> myObj <span class=" operator">=</span> <span class=" keyword keyword-new">new</span> <span class=" class-name">File</span><span class=" punctuation">(</span><span class=" string">"filename.txt"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            <span class=" keyword keyword-if">if</span> <span class=" punctuation">(</span>myObj<span class=" punctuation">.</span><span class=" function">createNewFile</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
            <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"File created: "</span> <span class=" operator">+</span> myObj<span class=" punctuation">.</span><span class=" function">getName</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            <span class=" punctuation">}</span> <span class=" keyword keyword-else">else</span> <span class=" punctuation">{</span>
                <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"File already exists."</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            <span class=" punctuation">}</span>
        <span class=" punctuation">}</span> <span class=" keyword keyword-catch">catch</span> <span class=" punctuation">(</span><span class=" class-name">IOException</span> e<span class=" punctuation">)</span> <span class=" punctuation">{</span>
            <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"An error occurred."</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            e<span class=" punctuation">.</span><span class=" function">printStackTrace</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
        <span class=" punctuation">}</span>
    <span class=" punctuation">}</span>
<span class=" punctuation">}</span>
                </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
File created: filename.txt
                </pre>
            </div>
            <p id="normal">To create a file in a specific directory (requires permission), specify the path of the file and use double backslashes to escape the "\" character (for Windows). On Mac and Linux you can just write the path, like: /Users/name/filename.txt</p>
            <!-- example -->
            
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" keyword">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">File</span><span class=" punctuation">;</span> 
<span class=" keyword">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">IOException</span><span class=" punctuation">;</span> 

<span class=" keyword">public</span> <span class=" keyword">class</span> <span class=" class-name">CreateFileDir</span> <span class=" punctuation">{</span>  
    <span class=" keyword">public</span> <span class=" keyword">static</span> <span class=" keyword">void</span> <span class=" function">main</span><span class=" punctuation">(</span><span class=" class-name">String</span><span class=" punctuation">[</span><span class=" punctuation">]</span> args<span class=" punctuation">)</span> <span class=" punctuation">{</span>  
        <span class=" keyword">try</span> <span class=" punctuation">{</span>  
            <span class=" class-name">File</span> myObj <span class=" operator">=</span> <span class=" keyword">new</span> <span class=" class-name">File</span><span class=" punctuation">(</span><span class=" string">"C:\\Users\\MyName\\filename.txt"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  
            <span class=" keyword">if</span> <span class=" punctuation">(</span>myObj<span class=" punctuation">.</span><span class=" function">createNewFile</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>  
                <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"File created: "</span> <span class=" operator">+</span> myObj<span class=" punctuation">.</span><span class=" function">getName</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  
                <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"Absolute path: "</span> <span class=" operator">+</span> myObj<span class=" punctuation">.</span><span class=" function">getAbsolutePath</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  
            <span class=" punctuation">}</span> <span class=" keyword">else</span> <span class=" punctuation">{</span>  
                <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"File already exists."</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  
            <span class=" punctuation">}</span>  
        <span class=" punctuation">}</span> <span class=" keyword">catch</span> <span class=" punctuation">(</span><span class=" class-name">IOException</span> e<span class=" punctuation">)</span> <span class=" punctuation">{</span>
            <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"An error occurred."</span><span class=" punctuation">)</span><span class=" punctuation">;</span> 
            e<span class=" punctuation">.</span><span class=" function">printStackTrace</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  
        <span class=" punctuation">}</span>  
    <span class=" punctuation">}</span>  
<span class=" punctuation">}</span> 
            </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
File created: filename.txt
Absolute path: C:\Users\MyName\filename.txt
                </pre>
            </div>
        </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_2 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Write To a File</h2>
            <p id="normal">In the following example, we use the <code class="code_span_class_name" >FileWriter</code> class together with its <code class="code_span_method" >write<span class="punctuation" >()</span></code> method to write some text to the file we created in the example above. Note that when you are done writing to the file, you should close it with the <code class="code_span_method" >close<span class="punctuation" >()</span></code> method:</p>
            <!-- example -->
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" keyword keyword-import">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">FileWriter</span><span class=" punctuation">;</span>   <span class=" comment">// Import the FileWriter class</span>
<span class=" keyword keyword-import">import</span> <span class=" namespace">java<span class=" punctuation">.</span>io</span><span class=" punctuation">.</span><span class=" class-name">IOException</span><span class=" punctuation">;</span>  <span class=" comment">// Import the IOException class to handle errors</span>

<span class=" keyword keyword-public">public</span> <span class=" keyword keyword-class">class</span> <span class=" class-name">WriteToFile</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-static">static</span> <span class=" keyword keyword-void">void</span> <span class=" function">main</span><span class=" punctuation">(</span><span class=" class-name">String</span><span class=" punctuation">[</span><span class=" punctuation">]</span> args<span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" keyword keyword-try">try</span> <span class=" punctuation">{</span>
            <span class=" class-name">FileWriter</span> myWriter <span class=" operator">=</span> <span class=" keyword keyword-new">new</span> <span class=" class-name">FileWriter</span><span class=" punctuation">(</span><span class=" string">"filename.txt"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            myWriter<span class=" punctuation">.</span><span class=" function">write</span><span class=" punctuation">(</span><span class=" string">"Files in Java might be tricky, but it is fun enough!"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            myWriter<span class=" punctuation">.</span><span class=" function">close</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"Successfully wrote to the file."</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
        <span class=" punctuation">}</span> <span class=" keyword keyword-catch">catch</span> <span class=" punctuation">(</span><span class=" class-name">IOException</span> e<span class=" punctuation">)</span> <span class=" punctuation">{</span>
            <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"An error occurred."</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
            e<span class=" punctuation">.</span><span class=" function">printStackTrace</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
        <span class=" punctuation">}</span>
    <span class=" punctuation">}</span>
<span class=" punctuation">}</span>
                </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
Successfully wrote to the file.
                </pre>
            </div>
            <p id="normal">To read the file above, go to the <a href="java_files_read">Java Read Files</a> chapter.</p>
            
        </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
    <div class="container-flued p-5">
        <h2>Java Exercises</h2>
        <p id="normal">Test Yourself With Exercises</p>
        <a class="btn btn-danger" href="exercises">Go to Exercises</a>
        <hr class="bg-danger" />
        <div>
            <a href="java_files" class="btn btn-danger"> < Previous</a>

            <a href="java_files_read" class="btn btn-danger next" style="float: right;">
            Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
</body>
</html>
