{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java Math Methods</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java Math Methods</h1>
        <div>
             <a href="ref_keyword_void" class="btn btn-danger"> < Previous</a>

            <a href="java_ref_string" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
          <p id="normal">The Java Math class has many methods that allows you to perform mathematical tasks on numbers.</p>
        
        </div>
      </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_2 -->
    <section class="bg-sliver">
      <div class="container-flued p-5">
          <h2 class = "subtitle" >All Math Methods</h2>
         
          <table class="all_table_element" style="margin:0">
            <tbody><tr>
              <th style="width:22%">Method</th>
              <th style="width:57%">Description</th>
              <th style="width:21%">Return Type</th>
            </tr>
            <tr>
              <td><a href="ref_math_abs"><code class="code_span_method" >abs<span class="punctuation">(x)</span></code></a></td>
              <td>Returns the absolute value of x</td>
              <td>double|float|int|long</td>
            </tr>
            <tr>
              <td><a href="ref_math_acos"><code class="code_span_method" >acos<span class="punctuation">(x)</span></code></a></td>
              <td>Returns the arccosine of x, in radians</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >asin<span class="punctuation">(x)</span></code></td>
              <td>Returns the arcsine of x, in radians</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >atan<span class="punctuation">(x)</span></code></td>
              <td>Returns the arctangent of x as a numeric value between -PI/2 and PI/2 radians</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >atan2<span class="punctuation">(y,x)</span></code></td>
              <td>Returns the angle theta from the conversion of rectangular coordinates <span class="punc)tuation">(x, y to polar coordinates <span class="punctuat)ion">(r, theta.</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >cbrt<span class="punctuation">(x)</span></code></td>
              <td>Returns the cube root of x</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >ceil<span class="punctuation">(x)</span></code></td>
              <td>Returns the value of x rounded up to its nearest integer</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >copySign<span class="punctuation">(x, y)</span></code></td>
              <td>Returns the first floating point x with the sign of the second floating point y</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >cos<span class="punctuation">(x)</span></code></td>
              <td>Returns the cosine of x <span class="punctuation">(x is in radians)</span></span></td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >cosh<span class="punctuation">(x)</span></code></td>
              <td>Returns the hyperbolic cosine of a double value</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >exp<span class="punctuation">(x)</span></code></td>
              <td>Returns the value of E<sup>x</sup></td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >expm1<span class="punctuation">(x)</span></code></td>
              <td>Returns e<sup>x</sup> -1</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >floor<span class="punctuation">(x)</span></code></td>
              <td>Returns the value of x rounded down to its nearest integer</td>
              <td>double</td>
            </tr>
            <tr>
              <td><code class="code_span_method" >getExponent<span class="punctuation">(x)</span></code></td>
              <td>Returns the unbiased exponent used in x</td>
               <td>int</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >hypot<span class="punctuation">(x, y)</span></code></td>
              <td>Returns sqrt<span class="punctuation">(x<sup>2</sup> )+y<sup>2</sup> without intermediate overflow or underflow</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >IEEEremainder<span class="punctuation">(x, y)</span></code></td>
              <td>Computes the remainder operation on x and y as prescribed by the IEEE 754 standard</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >log<span class="punctuation">(x)</span></code></td>
              <td>Returns the natural logarithm <span class="punctu)ation">(base E of x</td>
                <td>double</td>
          </tr>
            <tr>
              <td><code class="code_span_method" >log10<span class="punctuation">(x)</span></code></td>
             <td>Returns the base 10 logarithm of x</td>
                <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >log1p<span class="punctuation">(x)</span></code></td>
              <td>Returns the natural logarithm <span class="punctu)ation">(base E of the sum of x and 1</td>
               <td>double</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >max<span class="punctuation">(x, y)</span></code></td>
             <td>Returns the number with the highest value</td>
                <td>double|float|int|long</td>
           </tr>
            <tr>
              <td><code class="code_span_method" >min<span class="punctuation">(x, y)</span></code></td>
             <td>Returns the number with the lowest value</td>
                <td>double|float|int|long</td>
           </tr>
           <tr>
            <td><code class="code_span_method" >nextAfter<span class="punctuation">(x, y)</span></code></td>
           <td>Returns the floating point number adjacent to x in the direction of y</td>
              <td>double|float</td>
         </tr>
         <tr>
          <td><code class="code_span_method" >nextUp<span class="punctuation">(x)</span></code></td>
         <td>Returns the floating point value adjacent to x in the direction of positive infinity</td>
            <td>double|float</td>
       </tr>
       <tr>
        <td><code class="code_span_method" >pow<span class="punctuation">(x, y)</span></code></td>
       <td>	Returns the value of x to the power of y</td>
          <td>double</td>
     </tr>
     <tr>
      <td><code class="code_span_method" >random<span class="punctuation">()</span></code></td>
     <td>Returns a random number between 0 and 1</td>
        <td>double</td>
   </tr>
   <tr>
    <td><code class="code_span_method" >round<span class="punctuation">(x)</span></code></td>
   <td>Returns the value of x rounded to its nearest integer</td>
      <td>int</td>
 </tr>
 <tr>
  <td><code class="code_span_method" >rint<span class="punctuation">()</span></code></td>
 <td>Returns the double value that is closest to x and equal to a mathematical integer</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >signum<span class="punctuation">(x)</span></code></td>
 <td>Returns the sign of x</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >sin<span class="punctuation">(x)</span></code></td>
 <td>Returns the number with the highest value</td>
    <td>double|float|int|long</td>
</tr>
<tr>
  <td><code class="code_span_method" >sinh<span class="punctuation">(x)</span></code></td>
 <td>Returns the hyperbolic sine of a double value</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >sqrt<span class="punctuation">(x)</span></code></td>
 <td>Returns the square root of x</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >tan<span class="punctuation">(x)</span></code></td>
 <td>Returns the tangent of an angle</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >tanh<span class="punctuation">(x)</span></code></td>
 <td>	Returns the hyperbolic tangent of a double value</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >toDegrees<span class="punctuation">(x)</span></code></td>
 <td>Converts an angle measured in radians to an approx. equivalent angle measured in degrees</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >toRadians<span class="punctuation">(x)</span></code></td>
 <td>Converts an angle measured in degrees to an approx. angle measured in radians</td>
    <td>double</td>
</tr>
<tr>
  <td><code class="code_span_method" >ulp<span class="punctuation">(x)</span></code></td>
 <td>Returns the size of the unit of least precision (ulp) of x</td>
    <td>double|float</td>
</tr>
            </tbody>
          </table>
          
        </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_keyword_void" class="btn btn-danger"> < Previous</a>

            <a href="java_ref_string" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
