{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java User Input (Scanner)</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java User Input (Scanner)</h1>
        <div>
            <a href="java_enums" class="btn btn-danger"> < Previous</a>

            <a href="java_date" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
            <h2 class = "subtitle" >Java User Input</h2>
            <p id="question" class ="mb-0 text-danger">what is the Scanner class used for?</p>
            <p id="answer">The <code class= "code_span_class_name" >Scanner</code> class is used to get user input, and it is found in the <code class= "code_span_namespace" >java<span class="punctuation" >.</span>util</code> package.</p>
            <p id="question" class ="mb-0 text-danger">how to use Scanner?</p>
            <p id="answer">To use the <code class= "code_span_class_name" >Scanner</code> class, create an object of the class and use any of the available methods found in the <code class= "code_span_class_name" >Scanner</code> class documentation. In our example, we will use the <code class= "code_span_method" >nextLine<span class="punctution" >()</span></code> method, which is used to read Strings:</p>
            <!-- example -->
            
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" keyword keyword-import">import</span> <span class=" namespace">java<span class=" punctuation">.</span>util</span><span class=" punctuation">.</span><span class=" class-name">Scanner</span><span class=" punctuation">;</span>  <span class=" comment">// Import the Scanner class</span>

<span class=" keyword keyword-class">class</span> <span class=" class-name">MyClass</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-static">static</span> <span class=" keyword keyword-void">void</span> <span class=" function">main</span><span class=" punctuation">(</span><span class=" class-name">String</span><span class=" punctuation">[</span><span class=" punctuation">]</span> args<span class=" punctuation">)</span> <span class=" punctuation">{</span>
    <span class=" class-name">Scanner</span> myObj <span class=" operator">=</span> <span class=" keyword keyword-new">new</span> <span class=" class-name">Scanner</span><span class=" punctuation">(</span><span class=" class-name">System</span><span class=" punctuation">.</span>in<span class=" punctuation">)</span><span class=" punctuation">;</span>  <span class=" comment">// Create a Scanner object</span>
    <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"Enter username"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>

    <span class=" class-name">String</span> userName <span class=" operator">=</span> myObj<span class=" punctuation">.</span><span class=" function">nextLine</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  <span class=" comment">// Read user input</span>
    <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"Username is: "</span> <span class=" operator">+</span> userName<span class=" punctuation">)</span><span class=" punctuation">;</span>  <span class=" comment">// Output user input</span>
    <span class=" punctuation">}</span>
<span class=" punctuation">}</span>
                </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
Enter username
nur

Username is: nur
                </pre>
            </div>
            <div class="note-container">
                <p>If you don't know what a package is, read our <a href="java_packages"  target= "_blank">Java Packages Tutorial</a>.</p>
            </div>
        </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_2 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
          <h2 class = "subtitle" >Input Types</h2>
          <p id="normal">In the example above, we used the nextLine() method, which is used to read Strings. To read other types, look at the table below:</p>
          <table class="all_table_element">
            <tbody>
                <tr>
                    <th style="width:26%">Method</th>
                    <th style="width:74%">Description</th>
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextBoolean()</code></td>
                    <td>Reads a <code class = "code_span_method">boolean</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdate">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextByte()</code></td>
                    <td>Reads a <code class = "code_span_method">byte</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localtime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextDouble()</code></td>
                    <td>Reads a <code class = "code_span_method">double</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextFloat()</code></td>
                    <td>Reads a <code class = "code_span_method">float</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextInt()</code></td>
                    <td>Reads a <code class = "code_span_method">int</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextLine()</code></td>
                    <td>Reads a <code class = "code_span_method">String</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextLong()</code></td>
                    <td>Reads a <code class = "code_span_method">long</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
                    <tr>
                    <td><code class = "code_span_method">nextShort()</code></td>
                    <td>Reads a <code class = "code_span_method">short</code> value from the user</td>
                    <!--<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showjava.asp?filename=demo_date_localdatetime">Try it &raquo;</a></td>-->
                    </tr>
            </tbody>
        </table>
        <P id="normal">In the example below, we use different methods to read data of various types:</P>
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <pre class="pre-example-code">
<span class="token keyword">import</span> <span class="token namespace">java<span class="token punctuation">.</span>util</span><span class="token punctuation">.</span><span class="token class-name">Scanner</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">Scanner</span> myObj <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Scanner</span><span class="token punctuation">(</span><span class="token class-name">System</span><span class="token punctuation">.</span>in<span class="token punctuation">)</span><span class="token punctuation">;</span>

        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Enter name, age and salary:"</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

        <span class="token comment">// String input</span>
        <span class="token class-name">String</span> name <span class="token operator">=</span> myObj<span class="token punctuation">.</span><span class="token function">nextLine</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

        <span class="token comment">// Numerical input</span>
        <span class="token keyword">int</span> age <span class="token operator">=</span> myObj<span class="token punctuation">.</span><span class="token function">nextInt</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token keyword">double</span> salary <span class="token operator">=</span> myObj<span class="token punctuation">.</span><span class="token function">nextDouble</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

        <span class="token comment">// Output input by user</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Name: "</span> <span class="token operator">+</span> name<span class="token punctuation">)</span><span class="token punctuation">;</span> 
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Age: "</span> <span class="token operator">+</span> age<span class="token punctuation">)</span><span class="token punctuation">;</span> 
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Salary: "</span> <span class="token operator">+</span> salary<span class="token punctuation">)</span><span class="token punctuation">;</span> 
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <pre class="pre-result-code">
Enter name, age and salary:<br>
<input type="text" value="" id="usrage" style="border:none;background-color:black;color:white;outline:none" autofocus="" autocomplete="off"><br>
<input type="text" value="" id="usrage2" style="border:none;background-color:black;color:white;outline:none" autofocus="" autocomplete="off"><br>
<input type="text" value="" id="usrage3" style="border:none;background-color:black;color:white;outline:none" autofocus="" autocomplete="off"><br>
<span id="myuserName"></span>

<script>
var myInput = document.getElementById("usrage");
var x = document.getElementById("usrage2");
var z = document.getElementById("usrage3");
var myOutput = document.getElementById("myuserName");

myInput.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
    x.focus();
    }
});
x.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
    if (isNaN(x.value) || (x.value == "")) {
        myOutput.innerHTML = 'Exception in thread "main" java.util.InputMismatchException';
        x.disabled = true;
    } else {
    z.focus();
    }
    }
});
z.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
    if (isNaN(z.value) || (z.value == "")) {
        myOutput.innerHTML = 'Exception in thread "main" java.util.InputMismatchException';
        z.disabled = true;
    } else {
        myOutput.innerHTML = "Name: " + myInput.value + "<br>" + "Age: " + x.value + "<br>" + "Salary: " + z.value;
        z.disabled = true;
    }
    }
});
</script>
            </pre>
        </div>
        <div class="note-container">
            <p id="normal"><strong>Note</strong>: If you enter wrong input (e.g. text in a numerical input), you will get an exception/error message (like "InputMismatchException").</p>
            <p id="normal">You can read more about exceptions and how to handle errors in the <a href="java_try_catch">Exceptions chapter</a>.</p>
        </div>
      </div>
      </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h2>Java Exercises</h2>
        <p id="normal">Test Yourself With Exercises</p>
        <a class="btn btn-danger" href="exercises">Go to Exercises</a>
        <hr class="bg-danger" />
        <div>
            <a href="java_enums" class="btn btn-danger"> < Previous</a>

            <a href="java_date" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
