{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java Interface</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java Interface</h1>
        <div>
            <a href="java_abstract" class="btn btn-danger"> < Previous</a>

            <a href="java_enums" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
            <h2 class = "subtitle" >Java Arrays</h2>
            <p id="normal">Another way to achieve <a href="java_abstract">abstraction</a> in Java, is with interfaces.</p>
            <p id="question" class ="mb-0 text-danger">what is interface?</p>
            <p id="answer">An <code class="code_span_keyword" >interface</code> is a completely <b>"abstract class"</b> that is used to group related methods with empty bodies:</p>
            <!-- example -->
            <hr class="hr-example">
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" comment">// interface</span>
<span class=" keyword keyword-interface">interface</span> <span class=" class-name">Animal</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">animalSound</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span> <span class=" comment">// interface method (does not have a body)</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">run</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span> <span class=" comment">// interface method (does not have a body)</span>
<span class=" punctuation">}</span>
                </pre>
            </div>
            <p id="question" class ="mb-0 text-danger">how to access the  interface methods?</p>
            <p id="answer">To access the <code class="code_span_keyword" >interface</code> methods, the <code class="code_span_keyword" >interface</code> must be <b>"implemented"</b> (kinda like inherited) by another class with the <code class="code_span_keyword" >implements</code> keyword (instead of <code class="code_span_keyword" >extends</code>). The body of the <code class="code_span_keyword" >interface</code> method is provided by the <b>"implement"</b> class:</p>
            <!-- example -->
            <hr class="hr-example">
            <div class="example-code-container">
                <h3 class="example-title">Example</h3>
                <pre class="pre-example-code">
<span class=" comment">// Interface</span>
<span class=" keyword keyword-interface">interface</span> <span class=" class-name">Animal</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">animalSound</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span> <span class=" comment">// interface method (does not have a body)</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">sleep</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span> <span class=" comment">// interface method (does not have a body)</span>
<span class=" punctuation">}</span>

<span class=" comment">// Pig "implements" the Animal interface</span>
<span class=" keyword keyword-class">class</span> <span class=" class-name">Pig</span> <span class=" keyword keyword-implements">implements</span> <span class=" class-name">Animal</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">animalSound</span><span class=" punctuation">(</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" comment">// The body of animalSound() is provided here</span>
        <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"The pig says: wee wee"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
    <span class=" punctuation">}</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-void">void</span> <span class=" function">sleep</span><span class=" punctuation">(</span><span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" comment">// The body of sleep() is provided here</span>
        <span class=" class-name">System</span><span class=" punctuation">.</span>out<span class=" punctuation">.</span><span class=" function">println</span><span class=" punctuation">(</span><span class=" string">"Zzz"</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
    <span class=" punctuation">}</span>
<span class=" punctuation">}</span>

<span class=" keyword keyword-class">class</span> <span class=" class-name">MyMainClass</span> <span class=" punctuation">{</span>
    <span class=" keyword keyword-public">public</span> <span class=" keyword keyword-static">static</span> <span class=" keyword keyword-void">void</span> <span class=" function">main</span><span class=" punctuation">(</span><span class=" class-name">String</span><span class=" punctuation">[</span><span class=" punctuation">]</span> args<span class=" punctuation">)</span> <span class=" punctuation">{</span>
        <span class=" class-name">Pig</span> myPig <span class=" operator">=</span> <span class=" keyword keyword-new">new</span> <span class=" class-name">Pig</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>  <span class=" comment">// Create a Pig object</span>
        myPig<span class=" punctuation">.</span><span class=" function">animalSound</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
        myPig<span class=" punctuation">.</span><span class=" function">sleep</span><span class=" punctuation">(</span><span class=" punctuation">)</span><span class=" punctuation">;</span>
    <span class=" punctuation">}</span>
<span class=" punctuation">}</span>
                </pre>
            </div>
            <div class="result-code-container">
                <h3 class="result-title">Result</h3>
                <pre class="pre-result-code">
The pig says: wee wee
Zzz
                </pre>
            </div>
            <div class="note-container">
                <h4>Notes on Interfaces:</h4>
                <ul>
                <li>Like <strong>abstract classes</strong>, interfaces <strong>cannot</strong> be used to create objects (in the example above, 
                it is not possible to create an "Animal" object in the MyMainClass)</li>
                <li>Interface methods do not have a body - the 
                body is provided by the "implement" class</li>
                <li>On implementation of an interface, you must override all of its methods</li>
                <li>Interface methods are by default <code class="code_span_keyword" >abstract</code> and 
                    <code class="code_span_keyword" >public</code></li>
                <li>Interface attributes are by default <code class="code_span_keyword" >public</code>, 
                    <code class="code_span_keyword" >static</code> and <code class="code_span_keyword" >final</code></li>
                <li>An interface cannot contain a constructor (as it cannot be used to create objects)</li>
                </ul>
                <h4>Why And When To Use Interfaces?</h4>
                <p>1) To achieve security - hide certain details and only show the important 
                details of an object (interface).</p>
                <p>2) Java does not support "multiple inheritance" (a class can only inherit from one superclass). However, it can be achieved 
                with interfaces, because the class can <strong>implement</strong> multiple interfaces.
                <strong>Note:</strong> To implement multiple interfaces, separate them with a comma (see example below).</p>
            </div>

        </div>
    </section>
    <hr class="bg-dark" />
    <!-- part_2 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
          <h2 class = "subtitle" >Multiple Interfaces</h2>
          <p id="question" class ="mb-0 text-danger">how to implement multiple interfaces?</p>
          <p id="answer">To implement multiple interfaces, separate them with a comma:</p>
          <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <pre class="pre-example-code">
<span class="token keyword">interface</span> <span class="token class-name">FirstInterface</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">void</span> <span class="token function">myMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment">// interface method</span>
<span class="token punctuation">}</span>
    
<span class="token keyword">interface</span> <span class="token class-name">SecondInterface</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">void</span> <span class="token function">myOtherMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment">// interface method</span>
<span class="token punctuation">}</span>
    
<span class="token comment">// DemoClass "implements" FirstInterface and SecondInterface</span>
<span class="token keyword">class</span> <span class="token class-name">DemoClass</span> <span class="token keyword">implements</span> <span class="token class-name">FirstInterface</span><span class="token punctuation">,</span> <span class="token class-name">SecondInterface</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">void</span> <span class="token function">myMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Some text.."</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
    <span class="token keyword">public</span> <span class="token keyword">void</span> <span class="token function">myOtherMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Some other text..."</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
    
<span class="token keyword">class</span> <span class="token class-name">MyMainClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">DemoClass</span> myObj <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DemoClass</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        myObj<span class="token punctuation">.</span><span class="token function">myMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        myObj<span class="token punctuation">.</span><span class="token function">myOtherMethod</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
          </div>
          <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
Some text...
Some other text...
            </pre>
        </div>
      </div>
      </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h2>Java Exercises</h2>
        <p id="normal">Test Yourself With Exercises</p>
        <a class="btn btn-danger" href="exercises">Go to Exercises</a>
        <hr class="bg-danger" />
        <div>
            <a href="java_abstract" class="btn btn-danger"> < Previous</a>

            <a href="java_enums" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
