{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java String trim() Method</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java String trim() Method</h1>
        <div>
            <a href="ref_string_tolowercase" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_trim" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Remove whitespace from both sides of a string:</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"       Hello World!        "</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">trim</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
        Hello World!       
Hello World!
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a trim() method?</p>
            <p id="answer">The <code class="code_span_method" >trim()</code> method removes whitespace from both ends of a string.</p>
            <p id = "normal" ><strong>Note:</strong> This method does not change the original string.</p>
          

        
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Syntax</h2>
        <div class="result-code-container">
            <pre class="pre-result-code">
<span class="token keyword keyword-public">public</span> <span class="token class-name">String</span> <span class="token function">trim</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
            </pre>
        </div>
        </div>
    </section>
    <hr class="bg-danger" />
    <!-- part_4 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Parameter Values</h2>
        <!-- <table class="all_table_element"> 
            <tbody><tr>
                <th style="width:21%">Parameter</th>
                <th>Description</th>
              </tr>  
                <tr>
                <td><em>chars</em></td>
                <td>A <code class="code_span_type">String</code>, representing the character(s) to check for</td>
                </tr>
            </tbody>
          </table> -->

          <p id="normal">None.</p>
          
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_5 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Technical Details</h2>
        <table class="all_table_element">
               <tbody><tr>
                <th style="width:20%">Returns:</th>
                 <td>A <code class="code_span_class_name">String</code> value, which is a copy of the string, without leading and trailing whitespace</td>
               </tr>
               </tbody>
            </table>
            
    </div>
</section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_string_touppercase" class="btn btn-danger"> < Previous</a>

            <a href="java_ref_math" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
