{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java String codePointBefore() Method</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java String codePointBefore() Method</h1>
        <div>
             <a href="ref_string_codepointat" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_codepointcount" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Return the Unicode of the first character in a string (the Unicode value of "H" is 72):</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"Hello"</span><span class="token punctuation">;</span>
        <span class="token keyword">int</span> result <span class="token operator">=</span> myStr<span class="token punctuation">.</span><span class="token function">codePointBefore</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>result<span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
72
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a codePointBefore() method?</p>
            <p id="answer">The <code class="code_span_method" >codePointBefore()</code> method returns the Unicode value of the character before the specified index in a string.</p>
            <P id="normal">The index of the first character is 1, the second character is 2, and so on.</P>
            <div class="note-container">
                <p id="normal"><strong>Note</strong>: The value 0 will generate an error, as this is a negative number (out of reach).</p>
            </div>
           
        
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Syntax</h2>
            
        <div class="result-code-container">
            <pre class="pre-result-code">
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">codePointBefore</span><span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> <em>index</em><span class="token punctuation">)</span>
            </pre>
        </div>
        </div>
    </section>
    <hr class="bg-danger" />
    <!-- part_4 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Parameter Values</h2>
        <table class="all_table_element"> 
          <tbody><tr>
            <th style="width:21%">Parameter</th>
            <th>Description</th>
          </tr>  
            <tr>
            <td><em>index</em></td>
            <td>An <code class="code_span_type">int</code> value, representing the index 
            following the Unicode that should be returned</td>
            </tr>
        </tbody>
          </table>
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_5 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Technical Details</h2>
        <table class="all_table_element">
               <tbody><tr>
                <th style="width:21%">Returns:</th>
                 <td>An <code class="code_span_type">int</code> value, representing the Unicode 
                 value before the specified index </td>
               </tr>
               <tr>
                <th style="width:21%">Throws:</th>
                 <td><code class="code_span_class_name">IndexOutOfBoundsException</code> - if index is negative or not less than the length of 
                 the specified string</td>
               </tr>
               <tr>
                <th style="width:21%">Java Version:</th>
                 <td>1.5</td>
               </tr>
               </tbody>
            </table>
    </div>
</section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_string_codepointat" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_codepointcount" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
