{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java String indexOf() Method</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java String indexOf() Method</h1>
        <div>
            <a href="ref_string_hashcode" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_isempty" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Search a string for the first occurrence of "planet":</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"Hello planet earth, you are a great planet."</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token string">"planet"</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
6
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a indexOf() method?</p>
            <p id="answer">The <code class="code_span_method" >indexOf()</code>  method returns the position of the first occurrence of specified character(s) in a string.</p>
            <p id = "normal"><strong>Tip:</strong> Use the <a href="ref_string_lastindexof">lastIndexOf</a> method to return the position of the <strong>last</strong> occurrence of specified character(s) in a string.</p>
          

        
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Syntax</h2>
            <p id="normal">There are 4 <code class="code_span_method" >indexOf()</code> methods:</p>
        <div class="result-code-container">
            <pre class="pre-result-code">
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token class-name">String</span> <em>str</em><span class="token punctuation">)</span>
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token class-name">String</span> <em>str</em><span class="token punctuation">,</span> <span class="token keyword keyword-int">int</span> <em>fromIndex</em><span class="token punctuation">)</span>
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> <span class="token keyword keyword-char"><em>char</em></span><span class="token punctuation">)</span>
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> <span class="token keyword keyword-char"><em>char</em></span><span class="token punctuation">,</span> <span class="token keyword keyword-int">int</span> <em>fromIndex</em><span class="token punctuation">)</span>
            </pre>
        </div>
        </div>
    </section>
    <hr class="bg-danger" />
    <!-- part_4 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Parameter Values</h2>
        <table class="all_table_element"> 
            <tbody><tr>
                <th style="width:21%">Parameter</th>
                <th>Description</th>
              </tr>  
                <tr>
                <td><em>str</em></td>
                <td>A <code class="code_span_type">String</code> value, representing the string 
                to search for</td>
                </tr>
                <tr>
                <td><em>fromIndex</em></td>
                <td>An <code class="code_span_type">int</code> value, representing the index position to start the search from</td>
                </tr>
                <tr>
                <td><em>char</em></td>
                <td>An <code class="code_span_type">int</code> value, representing a single 
                character, e.g 'A', or a Unicode value</td>
                </tr>
            </tbody>
            
          </table>
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_5 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Technical Details</h2>
        <table class="all_table_element">
               <tbody><tr>
                <th style="width:21%">Returns:</th>
                 <td>An <code class="code_span_type">int</code> value, representing the index of the first occurrence of the 
                 character in the string, or -1 if it never occurs</td>
               </tr>
               </tbody>
            </table>
            
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_6 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >More Examples</h2>
         <!-- example -->
        
         <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Find the first occurrence of the letter "e" in a string, starting the search at position 5:</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"Hello planet earth, you are a great planet."</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">indexOf</span><span class="token punctuation">(</span><span class="token string">"e"</span><span class="token punctuation">,</span> <span class="token number">5</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
10
            </pre>
        </div>
     
            
    </div>
</section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_string_hashcode" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_isempty" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
