{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java String contentEquals() Method</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java String contentEquals() Method</h1>
        <div>
            <a href="ref_string_contains" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_copyvalueof" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Find out if a string contains a sequence of characters:</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"Hello"</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">contentEquals</span><span class="token punctuation">(</span><span class="token string">"Hello"</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">contentEquals</span><span class="token punctuation">(</span><span class="token string">"e"</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>myStr<span class="token punctuation">.</span><span class="token function">contentEquals</span><span class="token punctuation">(</span><span class="token string">"Hi"</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
true
false
false
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a contentEquals() method?</p>
            <p id="answer">The <code class="code_span_method" >contentEquals()</code> method searches a string to find out if it contains the exact same sequence of characters in the specified string or StringBuffer.</p>
            <p id="normal">Returns <code class="code_span_boolean">true</code> if the characters exist and <code class="code_span_boolean">false</code> if not.</p>
          

        
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Syntax</h2>
            <p id="normal">There are 2 <code class="code_span_method" >contentEquals()</code> methods:</p>
        <div class="result-code-container">
            <pre class="pre-result-code">
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-boolean">boolean</span> <span class="token function">contentEquals</span><span class="token punctuation">(</span><span class="token class-name">StringBuffer</span> <em>chars</em><span class="token punctuation">)</span>
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-boolean">boolean</span> <span class="token function">contentEquals</span><span class="token punctuation">(</span><span class="token class-name">CharSequence</span> <em>chars</em><span class="token punctuation">)</span>
            </pre>
        </div>
        </div>
    </section>
    <hr class="bg-danger" />
    <!-- part_4 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Parameter Values</h2>
        <table class="all_table_element"> 
            <tbody><tr>
                <th style="width:25%">Parameter</th>
                <th>Description</th>
              </tr>  
                <tr>
                <td>StringBuffer <em>chars</em></td>
                <td>The StringBuffer
                to be searched for</td>
                </tr>
                <tr>
                <td>CharSequence <em>chars</em></td>
                <td>The sequence of characters
                to be searched for</td>
                </tr>
            </tbody>
          </table>
          <div class="note-container">
              <p id="normal">The StringBuffer class is like a String, only it can be modified, found in the java.lang package.</p>
              <p id="normal">The CharSequence interface is a readable sequence of char values, found in the java.lang package.</p>
          </div>
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_5 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Technical Details</h2>
        <table class="all_table_element">
               <tbody><tr>
                <th style="width:21%">Returns:</th>
                 <td>A <code class="code_span_type">boolean</code>, indicating whether the exact same sequence 
                 of characters exist in the specified string (or StringBuffer):<ul>
                 <li><code class="code_span_boolean">true</code> - sequence of characters exists</li>
                 <li><code class="code_span_boolean">false</code> - sequence of characters do not exist</li>
                 </ul></td>
               </tr>
               <tr>
                <th style="width:21%">Java Version:</th>
                 <td>1.4 (contentEquals (StringBuffer <em>chars</em>))<br>
                 1.5 (contentEquals (CharSequence <em>chars</em>))</td>
               </tr>
               </tbody>
            </table>
            
    </div>
</section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_string_contains" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_copyvalueof" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
