{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java this Keyword</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java this Keyword</h1>
        <div>
            <a href="ref_keyword_swithc" class="btn btn-danger"> < Previous</a>

            <a href="ref_keyword_throw" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Using <code class="code_span_keyword" >this</code> with a class attribute (x):</p>
            <pre class="pre-example-code">
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-class">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword keyword-int">int</span> x<span class="token punctuation">;</span>
    
    <span class="token comment">// Constructor with a parameter</span>
    <span class="token keyword keyword-public">public</span> <span class="token class-name">MyClass</span><span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> x<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token keyword keyword-this">this</span><span class="token punctuation">.</span>x <span class="token operator">=</span> x<span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
    
    <span class="token comment">// Call the constructor</span>
    <span class="token keyword keyword-public">public</span> <span class="token keyword keyword-static">static</span> <span class="token keyword keyword-void">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">MyClass</span> myObj <span class="token operator">=</span> <span class="token keyword keyword-new">new</span> <span class="token class-name">MyClass</span><span class="token punctuation">(</span><span class="token number">5</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Value of x = "</span> <span class="token operator">+</span> myObj<span class="token punctuation">.</span>x<span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
Thursday
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a this keyword?</p>
            <p id="answer">The <code class="code_span_keyword" >this</code> keyword refers to the current object in a method or constructor.</p>
            <p id="normal">The most common use of the <code class="code_span_keyword" >this</code> keyword is to eliminate the confusion between class attributes and parameters with the same name (because a class attribute is shadowed by a method or constructor parameter). If you omit the keyword in the example above, the output would be "0" instead of "5".</p>
            <p id="normal"><code class="code_span_keyword" >this</code> can also be used to:</p>
            <ul>
                <li>Invoke current class constructor</li>
                <li>Invoke current class method</li>
                <li>Return the current class object</li>
                <li>Pass an argument in the method call</li>
                <li>Pass an argument in the constructor call</li>
            </ul>
            

           
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Related Pages</h2>
            <p id = "normal" >Read more about objects in our <a href="java_classes">Java Classes/Objects Tutorial</a>.</p>
            <p id = "normal" >Read more about constructors in our <a href="java_constructors">Java Constructors Tutorial</a>.</p>
            <p id = "normal" >Read more about methods in our <a href="java_methods">Java Methods Tutorial</a>.</p>
        </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_keyword_swithc" class="btn btn-danger"> < Previous</a>

            <a href="ref_keyword_throw" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
