{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java String codePointCount() Method</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java String codePointCount() Method</h1>
        <div>
             <a href="ref_string_codepointbefore" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_compareto" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container">
            <h3 class="example-title">Example</h3>
            <p id="normal">Return the number of Unicode values found in a string:</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token class-name">String</span> myStr <span class="token operator">=</span> <span class="token string">"Hello"</span><span class="token punctuation">;</span>
        <span class="token keyword">int</span> result <span class="token operator">=</span> myStr<span class="token punctuation">.</span><span class="token function">codePointCount</span><span class="token punctuation">(</span><span class="token number">0</span><span class="token punctuation">,</span> <span class="token number">5</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>result<span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
5
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a codePointCount() method?</p>
            <p id="answer">The <code class="code_span_method" >codePointCount()</code>  method returns the number of Unicode values found in a string.</p>
            <P id="normal">Use the startIndex and endIndex parameters to specify where to begin and end the search.</P>
         
            <p id="normal">The index of the first character is 0, the second character is 1, and so on.</p>
           
        
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Syntax</h2>
            
        <div class="result-code-container">
            <pre class="pre-result-code">
<span class="token keyword keyword-public">public</span> <span class="token keyword keyword-int">int</span> <span class="token function">codePointCount</span><span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> <em>startIndex</em><span class="token punctuation">,</span> <span class="token keyword keyword-int">int</span> <em>endIndex</em><span class="token punctuation">)</span>
            </pre>
        </div>
        </div>
    </section>
    <hr class="bg-danger" />
    <!-- part_4 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Parameter Values</h2>
        <table class="all_table_element"> 
        <tbody><tr>
            <th style="width:21%">Parameter</th>
            <th>Description</th>
          </tr>  
            <tr>
            <td><em>startIndex</em></td>
            <td>An <code class="code_span_type">int</code> value, representing the index to 
            the first character in the string</td>
            </tr>
            <tr>
            <td><em>endIndex</em></td>
            <td>An <code class="code_span_type">int</code> value, representing the index 
            after the last character in the string</td>
            </tr>
        </tbody>
          </table>
    </div>
</section>
<hr class="bg-danger" />
    <!-- part_5 -->
    <section class="bg-sliver">
        <div class="container-flued p-5">
        <h2 class = "subtitle" >Technical Details</h2>
        <table class="all_table_element">
               <tbody><tr>
                <th style="width:21%">Returns:</th>
                 <td>An <code class="code_span_type">int</code> value, representing the number of 
                 Unicode values found in a string</td>
               </tr>
               <tr>
                <th style="width:21%">Throws:</th>
                 <td><code class="code_span_class_name">IndexOutOfBoundsException</code> - if startIndex 
                 is negative, or endindex is larger than the length of the string, or 
                 startIndex is larger than endIndex</td>
               </tr>
               <tr>
                <th style="width:21%">Java Version:</th>
                 <td>1.5</td>
               </tr>
               </tbody>
            </table>
    </div>
</section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_string_codepointbefore" class="btn btn-danger"> < Previous</a>

            <a href="ref_string_compareto" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
