{% extends 'main-page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Java throws Keyword</title>
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <h1 class="main-title">Java throw Keyword</h1>
        <div>
             <a href="ref_keyword_throw" class="btn btn-danger"> < Previous</a>

            <a href="ref_keyword_try" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
          </div>
        <hr class="bg-danger" />
        <!-- part_1 -->
        <div>
        <!-- example -->
        
        <div class="example-code-container red">
            <h3 class="example-title">Example</h3>
            <p id="normal">Throw an exception if age is below 18 (print "Access denied"). If age is 18 or older, print "Access granted":</p>
            <pre class="pre-example-code">
<span class="token keyword">public</span> <span class="token keyword">class</span> <span class="token class-name">MyClass</span> <span class="token punctuation">{</span>
    <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">checkAge</span><span class="token punctuation">(</span><span class="token keyword">int</span> age<span class="token punctuation">)</span> <span class="token keyword">throws</span> <span class="token class-name">ArithmeticException</span> <span class="token punctuation">{</span> 
        <span class="token keyword">if</span> <span class="token punctuation">(</span>age <span class="token operator">&lt;</span> <span class="token number">18</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
        <span class="token keyword">throw</span> <span class="token keyword">new</span> <span class="token class-name">ArithmeticException</span><span class="token punctuation">(</span><span class="token string">"Access denied - You must be at least 18 years old."</span><span class="token punctuation">)</span><span class="token punctuation">;</span> 
        <span class="token punctuation">}</span> <span class="token keyword">else</span> <span class="token punctuation">{</span>
        <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Access granted - You are old enough!"</span><span class="token punctuation">)</span><span class="token punctuation">;</span> 
        <span class="token punctuation">}</span>
    <span class="token punctuation">}</span> 
    
    <span class="token keyword">public</span> <span class="token keyword">static</span> <span class="token keyword">void</span> <span class="token function">main</span><span class="token punctuation">(</span><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> args<span class="token punctuation">)</span> <span class="token punctuation">{</span> 
        <span class="token function">checkAge</span><span class="token punctuation">(</span><span class="token number">15</span><span class="token punctuation">)</span><span class="token punctuation">;</span> 
    <span class="token punctuation">}</span> 
<span class="token punctuation">}</span>
            </pre>
        </div>
        <div class="result-code-container red">
            <h3 class="result-title">Result</h3>
            <pre class="pre-result-code">
Exception in thread "main" java.lang.ArithmeticException: Access denied - You must be at least 18 years old.
at MyClass.checkAge(MyClass.java:4)
at MyClass.main(MyClass.java:12)
            </pre>
        </div>
        
        </div>
      </div>
    </section>
       
    <hr class="bg-danger" />
        <!-- part_2 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
       
            <h2 class = "subtitle" >Definition and Usage</h2>
            <p id="question" class ="mb-0 text-danger">what is a throw keyword?</p>
            <p id="answer">The <code class="code_span_keyword" >throw</code>  keyword is used to create a custom error.</p>
            <p id="normal">The <code class="code_span_keyword" >throw</code> statement is used together with an exception type. There are many exception types available in Java: <code class="code_span_class_name">ArithmeticException</code>, <code class="code_span_class_name">ClassNotFoundException</code>, <code class="code_span_class_name">ArrayIndexOutOfBoundsException</code>, <code class="code_span_class_name">SecurityException</code>, etc.</p>
            <p id="normal">The exception type is often used together with a custom method, like in the example above.</p>
            <p id = "normal" >Differences between <code class="code_span_keyword" >throw</code> and <a href="ref_keyword_throws"><code class="code_span_keyword" >throws</code></a>:</p>
            <table class="all_table_element">
                <tbody><tr>
                <th style="width:50%">throw</th>
                <th style="width:50%">throws</th>
                </tr>
                <tr>
                <td>Used to throw an exception for a method</td>
                <td>Used to indicate what exception type may be thrown by a method</td>
                </tr>
                <tr>
                <td>Cannot throw multiple exceptions</td>
                <td>Can declare multiple exceptions</td>
                </tr>
                <tr>
                <td><strong>Syntax:</strong> 
                <ul>
                <li><code class="code_span_keyword" style="padding:0">throw</code> is followed by an object (new <em>type</em>)</li>
                <li>used inside the method</li>
                </ul></td>
                <td><strong>Syntax:</strong> 
                <ul>
                <li><code class="code_span_keyword" style="padding:0">throws</code> is followed by a class</li>
                <li>and used with the method signature</li>
                </ul></td>
                </tr>
                </tbody>
                </table>
            

           
            
        </div>
    </section>
    
    <hr class="bg-danger" />
        <!-- part_3 -->
        <section class="bg-sliver">
            <div class="container-flued p-5">
            <h2 class = "subtitle" >Related Pages</h2>
            <p ID = "normal" >Read more about exceptions in our <a href="java_try_catch.asp">Java Try..Catch Tutorial</a>.</p>
        </div>
    </section>
    <hr class="bg-dark" />
    <section class="bg-sliver">
      <div class="container-flued p-5">
        <hr class="bg-danger" />
        <div>
            <a href="ref_keyword_throw" class="btn btn-danger"> < Previous</a>

            <a href="ref_keyword_try" class="btn btn-danger next" style="float: right;">
              Next ></a
            >
        </div>
    </div>
    </section>
    {% endblock %}
  </body>
</html>
