.display-loge{
    display: block;
}

@media(max-width: 1050px){
    .display-loge{
        display: none!important;
    }
}

.bg-sliver{
    background-color: #C0C5C1;
}

.height{
    height: 90vh;
}